<article class="{% if full!=true %}article-list__item{% else %}article{% endif %}">
    <header class="article-list__header">
        <div class="article-list__title-wrap">
            <h2 class="article-list__title">
                {% if full==true %}
                    {% if item.sticky %}
                        Важно!
                    {% endif %} {{ item.title|raw }}
                {% else %}
                    <a class="article-list__permalink" href="{{ item.publicUrl }}">
                        {% if item.sticky %}
                            Важно!
                        {% endif %} {{ item.title|raw }}
                        {% if item.pub!=1 %}
                            (Неопубликовано)
                        {% endif %}
                    </a>
                {% endif %}

            </h2>
            <time class="article-list__date"
                  datetime="{{ item.date|date("Y-M-D h:m:s") }}">{{ item.date|date("d.m.Y H:i:s") }}, {{ item.author.name }}</time>
        </div>
        <a class="article-list__title-image" href="{{ item.parent.newsUrl }}"
           title="{{ item.parent.title }}">
            <img src="{{ item.parent.icon }}"
                 alt="{{ item.parent.title }}">
        </a>
    </header>

    <div class="b-text">
        {{ content.replacePlaceholders(item.short_text)|raw }}
        {% if full==true %}
            {{ content.replacePlaceholders(item.add_text)|raw }}
        {% endif %}
    </div>


    <footer class="article-list__footer">
        {% if item.hasMore and full != true %}
            <a class="article-list__morelink" href="{{ item.publicUrl }}">Подробнее</a>
        {% endif %}

        <div class="article-list__footer-controls">

            {% include 'b-likes.twig' with {'url':item.getPublicUrl(true)} %}
            <a class="article-list__comments" href="{{ item.forumUrl }}">{{ item.commentsText }}</a>
        </div>
    </footer>
</article>