{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h2 class="article__title">{{ cat.title|raw }}</h2>
                </div>
                <a class="article-list__title-image" href="{{ parent.publicUrl }}"
                   title="{{ parent.title }}">
                    <img width="150" src="{{ parent.icon }}"
                         alt="{{ parent.title }}">
                </a>
            </header>
            {% if cat.content=='' %}
                <ul class="files__list">
                    {% for article in articles %}
                        <li class="files__item">
                            <a class="files__link" href="{{ article.publicUrl }}">{{ article.title }}</a>
                            <br>

                            <p>{{ article.announce|raw }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ cat.content|raw }}
            {% endif %}

        </article>
        {% include 'b-pagination.twig' %}
    </div>

{% endblock %}
