{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div class="article__title-wrap">
                    <h2 class="article__title">Статьи</h2>
                </div>
                <a class="article-list__title-image" href="{{ parent.publicUrl }}"
                   title="{{ parent.title }}">
                    <img src="{{ parent.icon }}"
                         alt="{{ parent.title }}">
                </a>
            </header>

            <div class="files">
                {% for cat in cats %}
                    <div class="files__cat">
                        <ul class="files__list">
                            <li class="files__item">
                                <h2 class="files__title">
                                    <a class="files__link" href="{{ cat.publicUrl }}">{{ cat.title }}</a>
                                </h2>
                                <ul class="files__list">
                                    {% for article in cat.lastArticles %}
                                        <li class="files__item">
                                            <a class="files__link"
                                               href="{{ article.publicUrl }}">{{ article.title }}</a><br>
                                            {{ article.announce|raw }}
                                        </li>
                                    {% endfor %}
                                    {% for subCat in cat.children %}
                                        <li class="files__item">
                                            <h3 class="files__title">
                                                <a class="files__link"
                                                   href="{{ subCat.publicUrl }}">{{ subCat.title }}</a>
                                            </h3>
                                            <ul class="files__list">
                                                {% for article in subCat.lastArticles %}
                                                    <li class="files__item">
                                                        <a class="files__link"
                                                           href="{{ article.publicUrl }}">{{ article.title }}</a><br>
                                                        {{ article.announce|raw }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endfor %}

            </div>

        </article>

    </div>
{% endblock %}
