{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h2 class="article__title">{{ cat.title|raw }}</h2>
                </div>
                <a class="article-list__title-image" href="{{ parent.publicUrl }}"
                   title="{{ parent.title }}">
                    <img src="{{ parent.icon }}"
                         alt="{{ parent.title }}">
                </a>
            </header>
            {% if cat.content=='' %}
                <div class="files">
                    {% for child in children %}
                        <div class="files__cat">
                            <ul class="files__list">
                                <li class="files__item">
                                    <h2 class="files__title">
                                        <a class="files__link" href="{{ child.publicUrl }}">{{ child.title }}</a>
                                    </h2>
                                    <ul class="files__list">
                                        {% for article in child.lastArticles %}
                                            <li class="files__item">
                                                <a class="files__link"
                                                   href="{{ article.publicUrl }}">{{ article.title }}</a><br>
                                                {{ article.announce|raw }}
                                            </li>
                                        {% endfor %}
                                        {% for subCat in child.children %}
                                            <li class="files__item">
                                                <h3 class="files__title">
                                                    <a class="files__link"
                                                       href="{{ subCat.publicUrl }}">{{ subCat.title }}</a>
                                                </h3>
                                                <ul class="files__list">
                                                    {% for article in subCat.lastArticles %}
                                                        <li class="files__item">
                                                            <a class="files__link"
                                                               href="{{ article.publicUrl }}">{{ article.title }}</a><br>
                                                            {{ article.announce|raw }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}

                </div>
                <div class="files">
                    <ul class="files__list">
                        {% for article in articles %}
                            <li class="files__item">
                                <a class="files__link" href="{{ article.publicUrl }}">{{ article.title|raw }}</a>, <span
                                        class="article-list__date">{{ article.countText }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                {{ cat.content|raw }}
            {% endif %}

        </article>
        {% include 'b-pagination.twig' %}
    </div>

{% endblock %}
