{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h2 class="article__title">{{ file.title }}</h2>
                </div>
                <a class="article__title-image" href="{{ singleNews.parent.newsUrl }}"
                   title="{{ singleNews.parent.title }}">
                    <img width="150" src="http://assets.bioware.ru/images/games/small/dragon_age_3.png"
                         alt="{{ singleNews.parent.title }}">
                </a>
            </header>

            <dl class="file__desc-list">
                <dt class="file__desc-title">Скачали</dt>
                <dd class="file__desc-value">{{ file.count }}</dd>
            </dl>
            <dl class="file__desc-list">
                <dt class="file__desc-title">Дата последнего обновления</dt>
                <dd class="file__desc-value">{{ date|date("d.m.Y") }}</dd>
            </dl>
            <div class="file__desc b-text">
                {{ file.desc|raw }}
                {% if file.stream==1 %}
                    <br><br>
                    Тут будет видео
                {% endif %}
            </div>
            <div class="file__download">
                <a class="file__download-btn" href="{{ file.downloadUrl }}">Скачать
                    <small>({{ file.sizeInMb }}Mb)</small>
                </a>
            </div>
        </article>

    </div>
{% endblock %}
