{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h2 class="article__title">{{ file.title|raw }}</h2>
                </div>
                <a class="article__title-image" href="{{ singleNews.parent.newsUrl }}"
                   title="{{ singleNews.parent.title }}">
                    <img src="http://assets.bioware.ru/images/games/small/dragon_age_3.png"
                         alt="{{ singleNews.parent.title }}">
                </a>
            </header>

            <p>Благодарим вас! Ваша закачка начнётся через несколько секунд. Если это не произошло или вам надоело
                ждать &ndash; нажмите на <a href="{{ file.directUrl }}">эту ссылку</a>.</p>
        </article>

    </div>
{% endblock %}
