{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div class="article__title-wrap">
                    <h1 class="article__title">
                        {{ cat.title|raw }}
                    </h1>
                </div>
                <a class="article-list__title-image" href="{{ parent.publicUrl }}"
                   title="{{ parent.title }}">
                    <img src="{{ parent.icon }}"
                         alt="{{ parent.title }}">
                </a>
            </header>
            <div id="nanoGallery">
                {% for pic in pics %}
                    {% set desc='' %}
                    {% for key,file in pic.getFiles() %}
                        {% set desc=desc~'&nbsp;<a target=\'_blank\' href=\''~pic.getFileUrl(key)~'\'>'~ file.res ~'</a>' %}
                    {% endfor %}
                    <a data-ngthumb="{{ pic.getThumbUrl(180,140) }}"
                       data-ngID="{{ pic.id }}"
                       href="{{ pic.fullUrl }}"
                       data-ngdesc="{{ desc|raw }}">
                    </a>
                {% endfor %}
            </div>
        </article>
        {% include "b-pagination.twig" %}
    </div>

{% endblock %}
