{% extends "layout.twig" %}

{% block content %}
    <div class="article__block">
        {% include 'b-breadcrumbs.twig' %}
        <article class="article">
            <header class="article__header">
                <div>
                    <h1 class="article__title">
                        {{ game.title|raw }}
                    </h1>
                </div>
            </header>
            <div class="b-text">
                <h3>
                    Информация
                </h3>

                <div class="game-info">
                    <img src="{{ game.bigLogoUrl }}"
                         alt="{{ game.title }}"
                         class="game-info__img"/>
                    <table class="game-info__table">
                        <tr>
                            <td>Разработчик</td>
                            <td>{{ game.developer.title}}</td>
                        </tr>
                        <tr>
                            <td>Издатель</td>
                            <td>{{ game.publisher }}</td>
                        </tr>
                        <tr>
                            <td>Локализатор</td>
                            <td>{{ game.localizator }}</td>
                        </tr>
                        <tr>
                            <td>Платформы</td>
                            <td>{{ game.platforms }}</td>
                        </tr>
                        <tr>
                            <td>Год издания</td>
                            <td>{{ game.release_date }}</td>
                        </tr>
                        <tr>
                            <td>Жанр</td>
                            <td>{{ game.genre }}</td>
                        </tr>
                    </table>
                </div>

                <h3>
                    Об игре
                </h3>


                {{ game.desc|raw }}

                <p><a href="#"><b>Обсудить на форуме</b></a></p>

                <div class="game-info__links-block">
                    <div class="game-info__links">
                        <h3>Последние новости:</h3>
                        {% for news in game.lastNews %}
                            <p><a href="{{ news.publicUrl }}">{{ news.title }}</a></p>
                        {% endfor %}
                        <p class="game-info__all"><a href="{{ game.newsUrl }}">Все новости</a></p>
                    </div>
                    <div class="game-info__links">
                        <h3>Последние файлы:</h3>
                        {% for file in game.lastFiles %}
                            <p><a href="{{ file.publicUrl }}">{{ file.title }}</a></p>
                        {% endfor %}
                        <p class="game-info__all"><a href="{{ game.filesUrl }}">Все файлы</a></p>
                    </div>
                </div>

                <div class="game-info__links-block">
                    <div class="game-info__links">
                        <h3>Последние статьи:</h3>
                        {% for article in game.lastArticles %}
                            <p><a href="{{ article.publicUrl }}">{{ article.title }}</a></p>
                        {% endfor %}
                        <p class="game-info__all"><a href="{{ game.articlesUrl }}">Все статьи</a></p>
                    </div>
                    <div class="game-info__links">
                        <h3>Последнее в галерее:</h3>
                        <div>
                            {% for pic in game.lastPics %}
                                <a href="{{ pic.cat.publicUrl }}#nanogallery/nanoGallery/0/{{ pic.id }}"><img
                                            src="{{ pic.getThumbUrl(115,115) }}"
                                            alt=""/></a>
                            {% endfor %}
                        </div>
                        <p class="game-info__all"><a href="{{ game.galleryUrl }}">Все картинки</a></p>
                    </div>
                </div>

            </div>

            <footer class="article__footer">
                <div class="article__footer-controls">
                    {% include 'b-likes.twig' with {'url':game.publicUrl} %}
                </div>
            </footer>
        </article>
    </div>
{% endblock %}