{% extends "layout.twig" %}

{% block content %}
    <div class="search-page">
      <h2 class="search-page__title">Поиск</h2>
      {% include 'b-search.twig' with {'query': searchResultsCat.query, 'mix': 'search-page__form'} %}
      <div class="search-page__content">
        <div class="search-page__cat">
          <h3 class="search-page__cat-title">{{ searchResultsCat.title }}</h3>
          <div class="search-page__cat-items">
            {% if searchResultsCat.items.s is empty %}
                <div class="search-page__item">
                  <em>В этом разделе по вашему запросу ничего не найдено.</em>
                </div>
            {% else %}
                {% for res in searchResultsCat.items %}
                    <div class="search-page__item">
                      <a class="search-page__link" href="{{ res.url }}">{{ res.title }}</a>
                      <p class="search-page__desc">{{ res.text | striptags | slice(0, 250) }}</p>
                    </div>
                {% endfor %}
            {% endif %}
          </div>
          <em>Показаны результаты поиска по разделу: {{ searchResultsCat.title }}.</em><br>
          <a class="search-page__more-link" href="{{ searchResultsCat.url }}">Искать по всем разделам</a>
        </div>
      </div>
    </div>
{% endblock %}
